

.offer-cont0{
  background-color: var(--greyclair);
  height: 100%;
  display: flex;
  padding-top: 30px;
  justify-content: space-around;
}

.offer-cont0 > img{
  height: 600px;
  width: 450px;
  border-radius: 10px;
}
