

.slider1-cont0{
  width: 100%;
  margin: 0;
}

.slider1-cont1 {
  height: 6px;
  background: #ccc;
  border-radius: 3px;
}

.slider1-cont2 {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.slider1-cont2:active {
  cursor: grabbing;
}

.slider1-cont3 {
  position: relative;
}

.slider1-cont3 p {
  position: absolute;
  top: -30px;
  background-color: var(--green);
  color: white;
  border-radius: 5px;
}