
:root{
  --green: #2BAEB7;
  --greyclair: #F5F6F7;
  --greytraitclair: rgb(207, 207, 207);
  --greytexte: rgb(160, 160, 160);
  --greytextefonce: rgb(100, 100, 100);
}

img {
  object-fit: cover;
}

.centreur {
  width: 1280px;
}

html, body, #root{
  height: 100%;
  width: 100%;
}

.hidden {
  visibility: hidden;
}